## SoC Verification

1. **验证方式**
    - *如何验证设计好的SoC?* 
        - FPGA上板
        - ASIC流片
        - SoC(verilog)--Verilator--SoC(cpp) + cpp 外设: **类似NVBoard** 
            - 可用于验证大型SoC的逻辑功能
        - Python SoC: 
            - 可用于验证大型SoC的逻辑功能
